html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

[v-cloak] { display: none; }
#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #111;
	font-family: sans-serif;
	font-size: 16px;
}

#toolbar {
	padding: 10px;
	background-color: #eee;
	border-bottom: 2px solid #999;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}
#toolbar #logo {
	padding-right: 10px;
	font-weight: bold;
}

.mods {
	overflow-y: auto;
}
table {
	border-collapse: collapse;
}
th {
	background-color: #eee;
}
th, td {
	text-align: left;
	padding: 4px;
}
th:not(:last-child), td:not(:last-child) {
	border-right: 2px solid #999;
}
th:last-child, td:last-child {
	width: 100%;
}
tr:not(:last-child) > th, tr:not(:last-child) > td {
	border-bottom: 2px solid #999;
}
.mods .name {
	white-space: nowrap;
}

a {
	font-weight: bold;
	color: #07f;
	text-decoration: none;
}
a:hover {
	color: #05b;
	text-decoration: underline;
}

.sort-button {
	cursor: pointer;
}